<!DOCTYPE html>
<html lang="pt-br">

<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/style/cadastro.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <form name="cadastro" id="cadastro" method="POST" action="/cadastro" class="form" onSubmit="Form.submit(event)">
        <h1>Cadastre-se</h1>
        <div class="inputs">
            <div class="h1">

            </div>
        </div>
        <div class="inputs">
            <label for="nome">Nome</label>
            <input class="form-input" form="cadastro" type="text" name="name" id="nome" placeholder="Digite seu nome">
        </div>

        <div class="inputs">
            <label for="email">Email</label>
            <input class="form-input" form="cadastro" type="email" name="email" id="email" placeholder="Digite seu Email">
        </div>

        <div class="inputs">
            <label for="pass">Senha</label>
            <input class="form-input" form="cadastro" type="password" name="password" id="password" placeholder="Digite sua senha (minimo 10 caracteres)"
                maxlength="10">
          
        </div>

        <div class="inputs">
            <label for=cpf>CPf</label>
            <input class="form-input" form="cadastro" type="text" name="cpf" id="cpf" placeholder="Digite seu cpf">
        </div>
        <div class="inputs">
            <div class="inputs">
                <label for="data">Data de Nascimento</label>
                <input class="form-input" form="cadastro" type="date" name="date" id="data">
            </div>

            <div class="inputs">
                <label for="telefone">Telefone</label>
                <input class="form-input" form="cadastro" type="text" name="telefone" id="telefone" placeholder="Digite seu telefone">
            </div>

            <p class="text-center"> Já tem uma conta ?<a href="/login" id="signin"> <b>Entrar</b> </a></p>

            <input class="btn-submit" type="submit" value="Cadastre-se">
    </form>
    
    <script src="/scripts/jquery-3.5.1.min.js"></script>
    <script src="/scripts/javascript.js"></script>
    
</body>

</html>