<!DOCTYPE html>

<head>
  <title>Configs</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="stylenew.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/237930a9b2.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel="stylesheet" href="/style/config.css">


</head>

<body>
  <div class="body">
    <div class="background-block">
      <h1 class="titlepage">Configurações</h1>
    </div>

    <div class="content">
        <div class="perfil">
          <h3>Perfil</h3>

          <form name="configs" id="configs" method="POST" action="/configs" class="form" onSubmit="verificar()">
            <label for="nomeloja">Edite o nome da sua loja:</label>


            <p><input class="inputstyle" form="configs" type="text" name="nomeloja" id="nomeloja" ></p>


            <label for="editbio">Edite sua bio:</label>
            <p>
              <textarea class="inputstyle" form="configs" rows="4" cols="15" maxlength="144" name="editbio" id="editbio" >

              </textarea></p>
            <div class="button"><input type="reset"> <input type="submit"></div>
     
    </div>
    <div class="endereco">
      <h3> Endereço</h3>
        <div class="cep">
          <label for="cep">CEP</label>
          <input type="text" form="configs" name="cep" id="cep" size="9" maxlength="9"
            placeholder="00000-000"> <a target="_blank"
            href="https://buscacepinter.correios.com.br/app/endereco/index.php?t">Não sabe?</a>
          UF <input type="text" size="2" id="uf">
        </div>

        <label for="cidade">Cidade</label>
        <p>
        <input class="inputstyle" form="configs" type="text" form="configs" name="cidade" id="cidade" >
        </p>
        <label for="logradouro">Logradouro</label>

        <p>
        <input class="inputstyle" form="configs" type="text" name="logradouro" id="logradouro">
      </p>

        <label for="bairro">Bairro</label>
        <p>
        <input class="inputstyle" form="configs" type="text" name="bairro" id="bairro">
        </p>
        <div class="complnum">
          <div class="numero">
            <label for="numero">Número:</label>
            <input form="configs"type="text" name="numero"id="numero" size="5">
          </div>
          <div class="complemento">
            <label for="complemento">Complemento:</label>
            <input form="configs" type="text" name="complemento"id="complemento" size="22">
          </div>

        </div>

        <div class="button">

          <div><input type="reset"></div>
          <div><input type="submit"></div>
        </div>


      </form>
    </div>


    <hr>

  </div>
  </div>

  </div>
  <div class="header">
    <div class="configcontainer">
      <a href="/configs">
        <div class="optionconfig" id="option1">
          <i class="fas fa-cog"></i>
          <p>&nbsp;&nbsp;&nbsp;Configurações</p>
        </div>
      </a>
      <a href="/index">
        <div class="optionconfig">
          <i class="fas fa-hourglass"></i>
          <p>&nbsp;&nbsp;&nbsp;Tela inicial</p>
        </div>
      </a>

      <a href="/orders">
        <div class="optionconfig">
          <i class="fas fa-money-check-alt"></i>
          <p>&nbsp;&nbsp;&nbsp;Pedidos</p>
        </div>
      </a>

      <a href="/products">
        <div class="optionconfig">
          <i class="fas fa-birthday-cake"></i>
          <p>&nbsp;&nbsp;&nbsp;Produtos</p>
        </div>
      </a>

    </div>

  </div>
  <div class="loading"></div>
  <div class="borda"></div>

  <script src="/scripts/javascript.js"></script>
  <script src="node_modules\angular\angular.js"></script>
  <script>

    function Mudarestado(el) {
      var display = document.getElementById(el).style.display;
      if (display == "none")
        document.getElementById(el).style.display = 'block';
      else
        document.getElementById(el).style.display = 'none';
    }

  </script>

</body>

</html>